version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: python/Dockerfile
    container_name: fastapi-scraper
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./downloads:/app/downloads
    restart: unless-stopped
